.body-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.drawer-chevron{
    margin-left: auto;
}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  
}