.links-container{
    display: flex;
    width: 85%;
    margin-left: 5%;
    margin-right: 10%;
    justify-content: space-around;
    cursor: pointer;
}
.links {
    display: inline-block;
    padding: 10px;
    background-color: #f0f0f0, 0%;
    color: #333;
    transition: transform 0.3s, background-color 0.3s;
    font-size: 5vh;
    cursor: pointer;
  }
  
  .links:hover {
    transform: scale(1.1);
    background-color: #5f664d, 90%;
    color: #fff;
    cursor: crosshair;
  }