@media (max-width: 600px) {
  .links-container {
    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-right: 10%;
    justify-content: space-around;
    cursor: pointer;
  }
  
  .links {
    display: inline-block;
    padding: 10px;
    color: #333;
    transition: transform 0.3s, background-color 0.3s;
    font-size: 2vh;
    cursor: pointer;
  }
}
@media (min-width: 1000px) {
.links-container {
  display: flex;
  width: 90%;
  margin-left: 5%;
  margin-right: 10%;
  justify-content: space-around;
  cursor: pointer;
}

.links {
  display: inline-block;
  padding: 10px;
  color: #333;
  transition: transform 0.3s, background-color 0.3s;
  font-size: 5vh;
  cursor: pointer;
}
}

.links:hover {
  transform: scale(1.1);
  color: aliceblue;
  cursor: crosshair;
}
.links:hover .text-1{
  display: block;
}
.text-1 {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 4px;
}
