.project-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.project-carousel{
    width: 50%;
}

.links {
    color: #000;
    text-decoration: none;
    margin-left: 10vw;
}

.about-me-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-bottom: 5vh;
}

.about-me-content {
    max-width: 800px;
    max-height: 100%;
    text-align: center;
    padding: 20px;
    background-color: rgb(214, 191, 191, .3);
    line-height: 6vh;
    border-radius: 8px;
    overflow: scroll;
}
.logo-container{
    display: flex;
}
.react-logo-invisible,
.postgres-logo-invisible {
  opacity: 0;
}

 .react-logo-visible,
 .postgres-logo-visible {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  height: 50px;

}
