
.App {
  text-align: center;
}

body {
  background: linear-gradient(45deg, #FCEACD, #F9E4C2, #F6DEB7, #F3D8AC);

  background-size: 800% 800%;
  animation: rainbow-gradient 10s ease infinite;
}


@keyframes rainbow-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
