.App {
  text-align: center;
}

body {
  background: linear-gradient(45deg, #ff4ec4, #fc56aa, #ff6b91, #ff9a65, #ffcd3c, #d3ff2a, #76ff0a);
  background-size: 400% 400%;
  animation: rainbow-gradient 20s ease infinite;
}

@keyframes rainbow-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
